{
  "presets": ["env", "react"],
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-class-properties",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ]
}
