.site-header {
  align-items: center;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  @media (min-width: 48em) {
    flex-direction: row;
    height: auto;
    margin: 0;
    width: 100%;
  }

  &.-yellow {
    background-color: $brand-yellow;
  }

  .branding {
    display: inline-block;
    margin-bottom: 5px;
    height: 40px;
    width: 120px;
    @media (min-width: 48em) {
      margin-bottom: 0;
      height: 60px;
      width: 160px;
    }

    &:hover {
      background: none;
      text-decoration: none;
    }

    &::before {
      background: url('../images/logo_eleven_lab.svg') top left no-repeat;
      background-size: contain;
      content: '';
      display: block;
      margin: 0 auto;
      height: 40px;
      width: 120px;
      @media (min-width: 48em) {
        margin: 0;
        height: 60px;
        width: 160px;
      }
    }
  }

  a {
    color: $header-link-color;
  }

  .avatar {
    border-radius: .2rem;
    float: left;
    height: 2rem;
    margin-right: 1rem;
    margin-top: -3px;
    width: 2rem;
  }

  .site-nav {
    ul {
      display: inline-block;
      line-height: 1.5;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    li {
      display: inline-block;
      margin-right: .4rem;
    }
  }

  .branding-container,
  .search-bar,
  .site-nav {
    @media (min-width: 48em) {
      flex: 1 1 12.5em;
      max-width: 15.9375em;
      margin: 0 1.875em 0 0;
    }
  }
}

.course-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 48em) {
    flex-direction: row;
    align-items: baseline;
    flex: 1 1 25em;
  }

  &__duration {
    margin: 0;
  }
}
