<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel="icon" type="image/jpeg" href="/favicon.jpg" />
  <link rel="canonical" href="https://codelabs.eleven-labs.com/" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99013054-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-99013054-4');
  </script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
