.summary {
  flex: 1 1 em(200px);
  margin: 0 0 em(30px);
  @media (min-width: em(768px)) {
    max-width: em(255px);
    margin: 0 em(30px) 0 0;
  }

  &__steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    @media (min-width: em(768px)) {
      flex-direction: column;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 em(150px);
    cursor: pointer;
    padding: em(10px);
    text-align: center;
    @media (min-width: em(768px)) {
      flex-direction: row;
      flex: 1 1 em(70px);
      padding: 0;
      text-align: left;
    }

    & + & {
      @media (min-width: em(768px)) {
        margin-top: em(20px);
      }
    }
  }

  &__step-number {
    $context: 24px;

    font-size: em($context);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    border: 2px solid $brand-yellow;
    border-radius: 50%;
    width: em(50px, $context);
    height: em(50px, $context);

    .-current & {
      background-color: $brand-yellow;
    }

    .-complete & {
      border: 2px solid yellowgreen;
    }
  }

  &__step-title {
    $context: 18px;

    color: #bbc1c4;
    font-size: $context;
    line-height: 1.1;
    margin: em(15px, $context) 0 0;
    @media (min-width: em(768px)) {
      margin: 0 0 0 em(15px, $context);
    }
  }
}

.course {
  @include flex(row wrap);
  @media (min-width: em(768px)) {
    flex-wrap: nowrap;
  }

  &__content {
    flex: 1 1 em(400px);
    margin-bottom: em(60px);
    width: 70%;
  }

  &__chapter {
    $context: 20px;
    font-family: "DINPro-Regular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    background-color: $brand-yellow;
    display: inline-block;
    padding: .6rem .6rem;
    font-size: em($context);
    margin-bottom: em(20px, $context);
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__button {
    position: fixed;
    bottom: em(20px);
    background-color: $brand-yellow;
    border: none;
    border-radius: 30%;
    width: em(70px);
    height: em(70px);
    &[disabled] {
      visibility: hidden;
    }

    &.-previous {
      transform: rotate(180deg);
      left: em(20px);
    }

    &.-next {
      right: em(20px);
    }
  }

  &__text {
    h3 {
      $context: 17px;

      display: inline-block;
      background-color: lighten($brand-black, 70%);
      font-size: em($context);
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: em(16px, $context);
      padding: em(5px, $context) em(10px, $context);
    }

    p, ol, ul {
      $context: 20px;

      font-size: em($context);
      margin-bottom: em(32px, $context);

      code {
        font-size: em(16px, $context);
      }
    }

    pre {
      $context: 16px;

      font-size: em($context);
      margin: 0 0 em(32px, $context);
      word-wrap: normal;
    }

    a {
      letter-spacing: normal;
    }
  }
}
