.course {
  @include flex(row wrap);
  @media (min-width: em(768px)) {
    flex-wrap: nowrap;
  }

  &__content {
    flex: 1 1 em(400px);

    h3 {
      $context: 17px;

      display: inline-block;
      background-color: $brand-yellow;
      font-size: em($context);
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: em(16px, $context);
      padding: em(5px, $context) em(10px, $context);
    }

    p, ol, ul {
      $context: 20px;

      font-size: em($context);
      margin-bottom: em(32px, $context);

      code {
        font-size: em(16px, $context);
      }
    }

    pre {
      $context: 16px;

      font-size: em($context);
      margin: 0 0 em(32px, $context);
    }

    a {
      letter-spacing: normal;
    }
  }
}

.summary {
  flex: 1 1 em(200px);
  margin: 0 0 em(70px);
  @media (min-width: em(768px)) {
    max-width: em(370px);
    margin: 0 em(70px) 0 0;
  }

  &__steps {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    @media (min-width: em(768px)) {
      flex-direction: column;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
    cursor: pointer;
    text-align: center;
    @media (min-width: em(768px)) {
      flex-direction: row;
      flex: 1 1 em(70px);
      text-align: left;
    }

    & + & {
      @media (min-width: em(768px)) {
        margin-top: 60px;
      }
    }
  }

  &__step-number {
    $context: 40px;

    font-size: em($context);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    border: 2px solid $brand-yellow;
    border-radius: 50%;
    width: em(70px, $context);
    height: em(70px, $context);
    .-current & {
      background-color: #b8b8b8;
    }
  }

  &__step-title {
    color: #bbc1c4;
    font-size: em(22px);
    line-height: 1.1;
    margin: em(15px) 0 0;
    @media (min-width: em(768px)) {
      margin: 0 0 0 em(15px);
    }
  }
}
