.summary {
  flex: 1 1 em(200px);
  margin: 0 0 em(70px);
  @media (min-width: em(768px)) {
    max-width: em(370px);
    margin: 0 em(70px) 0 0;
  }

  &__steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    @media (min-width: em(768px)) {
      flex-direction: column;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 em(150px);
    cursor: pointer;
    padding: em(10px);
    text-align: center;
    @media (min-width: em(768px)) {
      flex-direction: row;
      flex: 1 1 em(70px);
      text-align: left;
    }

    & + & {
      @media (min-width: em(768px)) {
        margin-top: em(60px);
      }
    }
  }

  &__step-number {
    $context: 40px;

    font-size: em($context);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    border: 2px solid $brand-yellow;
    border-radius: 50%;
    width: em(70px, $context);
    height: em(70px, $context);
    .-current & {
      background-color: #b8b8b8;
    }
  }

  &__step-title {
    color: #bbc1c4;
    font-size: em(22px);
    line-height: 1.1;
    margin: em(15px) 0 0;
    @media (min-width: em(768px)) {
      margin: 0 0 0 em(15px);
    }
  }
}

.course {
  @include flex(row wrap);
  @media (min-width: em(768px)) {
    flex-wrap: nowrap;
  }

  &__content {
    flex: 1 1 em(400px);
    width: 100%;
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__button {
    background-color: $brand-yellow;
    border-radius: 50%;
    width: em(110px);
    height: em(110px);
    &[disabled] {
      visibility: hidden;
    }

    &.-previous {
      transform: rotate(180deg);
    }
  }

  &__duration {
    $context: 20px;

    font-size: $context;
    &:before {
      content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCA2MCI+PHBhdGggZD0iTTMwIDBDMTMuNDU4IDAgMCAxMy40NTggMCAzMHMxMy40NTggMzAgMzAgMzAgMzAtMTMuNDU4IDMwLTMwUzQ2LjU0MiAwIDMwIDB6bTAgNThDMTQuNTYxIDU4IDIgNDUuNDM5IDIgMzBTMTQuNTYxIDIgMzAgMnMyOCAxMi41NjEgMjggMjgtMTIuNTYxIDI4LTI4IDI4eiIvPjxwYXRoIGQ9Ik0zMCA2YTEgMSAwIDAgMC0xIDF2MjNIMTRhMSAxIDAgMSAwIDAgMmgxNmExIDEgMCAwIDAgMS0xVjdhMSAxIDAgMCAwLTEtMXoiLz48L3N2Zz4=");
      display: inline-block;
      margin-right: em(10px, $context);
      width: em(35px, $context);
      vertical-align: middle;
    }
  }

  &__text {
    h3 {
      $context: 17px;

      display: inline-block;
      background-color: $brand-yellow;
      font-size: em($context);
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: em(16px, $context);
      padding: em(5px, $context) em(10px, $context);
    }

    p, ol, ul {
      $context: 20px;

      font-size: em($context);
      margin-bottom: em(32px, $context);

      code {
        font-size: em(16px, $context);
      }
    }

    pre {
      $context: 16px;

      font-size: em($context);
      margin: 0 0 em(32px, $context);
      word-wrap: normal;
    }

    a {
      letter-spacing: normal;
    }
  }
}
