.slice {
  border-bottom: 1px solid $border-color;
  padding-bottom: 2.5em;
  padding-top: 2.5em;

  @media (min-width: 30em) {
    padding-bottom: 3em;
    padding-top: 3em;
  }
}

.container {
  margin: 0 auto;
  padding: 2.5em;
  max-width: $max-width-layout;

  @media (min-width: 30em) {
    padding: 4.5em;
  }

  @media (min-width: 85em) {
    padding-left: 0;
    padding-right: 0;
  }
}
