.slice {
  border-bottom: em(1px) solid $border-color;
  padding-bottom: em(25px);
  padding-top: em(25px);

  @media (min-width: em(480px)) {
    padding-bottom: em(30px);
    padding-top: em(30px);
  }
}

.container {
  margin: 0 auto;
  padding: em(20px);
  max-width: em($max-width-layout);

  @media (min-width: em(1360px)) {
    padding-left: 0;
    padding-right: 0;
  }
}
