// Override Algolia classes
.ais-SearchBox-input {
  border-color: transparent;
  border-style: solid;
  border-width: em(2px) 0;
  margin-bottom: em(10px);
  cursor: pointer;
  transition: border-color 0.2s ease;
  @media (min-width: em(768px)) {
    margin-bottom: 0;
  }

  &:focus {
    border-bottom-color: #323334;
    cursor: auto;
    outline: none;
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    color: $brand-black;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 0.2s ease;
    @media (min-width: em(768px)) {
      text-align: right;
      margin-bottom: 0;
    }
  }
}

.ais-SearchBox-submit, .ais-SearchBox-reset {
  display: none;
}

.ais-Hits-list {
  display: inline-flex;
}

.ais-Hits-item {
  display: block;
}
