.splash {
  background-color: $brand-yellow;
  &__container {
    display: flex;
    flex-direction: row;
    @media (min-width: 30em) {
      padding-top: 6.5em;
      padding-bottom: 6.5em;
    }
  }

  &__icon {
    display: none;
    @media (min-width: 48em) {
      display: block;
      flex: 0 0 auto;
      max-width: 11.5em;
      margin: 0 4em;
    }
  }

  &__text {
    flex: 1 1 auto;
  }

  &__title {
    font-family: "Din";
    font-size: 3.5em;
    font-weight: lighter;
    text-transform: uppercase;
  }

  &__description {
    font-family: "Din";
    font-size: 2.5em;
    font-weight: lighter;
    margin: 0;
  } 
}
