.splash {
  background-color: $brand-yellow;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (min-width: em(480px)) {
      padding-top: em(65px);
      padding-bottom: em(65px);
    }
  }

  &__icon {
    display: none;
    @media (min-width: em(768px)) {
      display: block;
      flex: 0 0 auto;
      max-width: em(115px);
      max-height: em(115px);
      margin: 0 em(40px);
    }
  }

  &__text {
    flex: 1 1 auto;
  }

  &__title {
    font-size: em(35px);
    font-family: "Din";
    font-weight: lighter;
    text-transform: uppercase;
  }

  &__description {
    font-size: em(25px);
    font-family: "Din";
    font-weight: lighter;
    margin: 0;
  } 
}
